body {
  width: 782px;
  margin: 0 auto;
  background: #ccc url(websiteBG.png) no-repeat top center;
  color: #000;
  font-size: 14px;
  font-family: Tahoma, Arial, Verdana, Meiryo, "MS Gothic", sans-serif, Lucida Sans;
  line-height: 1.2em;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

