.all-page {
  position: relative;
  width: 690px;
  margin: 15px auto;
  margin-top: 30px;
  padding: 10px 30px 15px 30px;
  background: #eee;
  border: 2px solid #999;
  border-radius: 8px;
  text-align: left;
  min-height: 500px;
}

form {
  display: flex;
  flex-wrap: wrap;
}

button {
  color: rgb(0, 0, 0); font-size: 11px; line-height: 11px; padding: 6px; border-radius: 7px; font-family: Tahoma, Arial, Verdana, Meiryo, "MS Gothic", sans-serif, Lucida Sans; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none;border: 2px solid rgb(28, 110, 164); display: inline-block;
  background-color:	#6bb1ee;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 10px;
  border-width: 1px;
}

input {
  color: rgb(0, 0, 0); font-size: 11px; line-height: 11px; padding: 4px; border-radius: 7px; font-family:Tahoma, Arial, Verdana, Meiryo, "MS Gothic", sans-serif, Lucida Sans; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none;border: 2px solid rgb(28, 110, 164); display: inline-block;
}

.SmolDiv{
  width: 200px;
}
.container {
  display: flex;
  margin: 10px;
}

img {
  max-width: 256px;
}

.imageBox{
  min-width: 400px;
}

.inputLine {
  min-width: 600px;
  /* margin-top: 20px; */
}

#ratio{
  width: 50px;
  min-height: 20px;
}


.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none; 
  width: 200px; /* Full-width */
  height: 1px; /* Specified height */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  background: linear-gradient(90deg, rgb(117,225,117) 75%, rgb(252, 4, 4) 60%);
}

.inputCheck {
  min-width: 600px;
  margin-top: 10px;
}

.compressionText{
  min-width: 600px;
  margin-top: 10px;
}